---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}



{% if site.categories.assignments.size > 0 %}
  
  <h2 class="post-list-heading">{{ page.list_title | default: "Recent assignments" }}</h2>

	<table class="nopadding">
        {% for post in site.categories.assignments limit:5 %}
    
        <tr>
         <td width="220">
         {% assign date_format = site.minima.date_format | default: "%b %-d" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </td>
        <td>
         <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
        </td></tr>
        
        {% endfor %}
        
        <tr>
        <td></td>
        <td>   <p><a href="category/assignments.html">All assignments &rarr;</p></td>
    </tr>
    </table>
 
{% endif %}



<h2>What I'm learning</h2>

{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag"><a href="tags/#{{ tag | first | replace:' ', '%20' }}"
        class="tag">{{ tag[0] | replace:'-', ' ' | replace:' ', '&nbsp;' }}</a></span>&ensp;
{% endfor %}



{% if site.categories.podcast.size > 0 %}
<br/><br/>
<h2>Most recent podcast episode</h2>

{% for post in site.categories.podcast limit:1 %}

<table class="nopadding">
<tr>
<td width="220"><img src="{{ "/assets/images/unreliable-devices-2-3d-800px.jpg" | relative_url }}" width="200px" height="200px" /></td>
<td>

   <h3><a href="{{ post.url | relative_url }}">
      {{ post.title }}
    </a></h3>
     <p>{{ post.excerpt }} </p>

<p>Subscribe: <a href="https://itunes.apple.com/gb/podcast/unreliable-devices/id1340450476">Apple Podcasts</a> / <a href="http://fab.academany.org/2018/labs/fablabbrighton/students/andrew-sleigh/podcast.rss">RSS</a></p>


</td>
</tr>
</table>



 
{% endfor %}
{% endif %}


    <p class="rss-subscribe">Subscribe to this site <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  

</div>
